<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/core/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{css/core/common.css}">
    <link type="text/css" rel="stylesheet" th:href="@{css/index.css}">
    <link type="text/css" rel="stylesheet" th:href="@{css/core/editormd.css}">

    <script type="text/javascript" th:src="@{js/core/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/core/editormd.min.js}"></script>
</head>
<body>
<div id="left">
    <div class="add"><i class="fa fa-plus"></i><span>新建文集</span></div>
    <ul class="itemlist">
        <li>标题1</li>
        <li>标题2</li>
        <li>标题3</li>
        <li class="active">标题4</li>
        <li>标题5</li>
    </ul>
</div>
<div id="center">
    <div class="add"><i class="fa fa-plus"></i><span>新建文章</span></div>
    <ul class="itemlist">
        <li class="active f18"><i class="icon"></i>版本自动升级</li>
        <li class="f18">百度地图集成</li>
        <li class="f18">友盟分享</li>
        <li class="f18">极光推送</li>
        <li class="f18">极光推送</li>
    </ul>
</div>
<div id="right">
    <input type="button" class="btn-save" value="保存">
    <input type="text" class="edittitle" value="无标题文章">
    <div id="test-editormd">
        <textarea style="display:none;">
            [TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/
            editormd.js
            ...

```html
&lt;!-- English --&gt;
&lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

&lt;!-- 繁體中文 --&gt;
&lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
```
        </textarea>
    </div>
    <script th:src="@{js/core/editormd.min.js}"></script>
    <script type="text/javascript">
        var testEditor;
        $(function () {
            testEditor = editormd("test-editormd", {
                // width: "90%",
                height: $("#right").height() - parseInt($("#right").css('padding-top')) - $(".edittitle").height(),
                // syncScrolling: "single",
                path: "lib/",
                watch: false,
                saveHTMLToTextarea:true,
                /**上传图片相关配置如下*/
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/editormdPic"
            });

            $(".btn-save").click(function () {
                $.post("/addArticle",
                    {
                        innerHtml: testEditor.getHTML(),
                        innerMarkdown: testEditor.getMarkdown()
                    },
                    function () {

                    });
            });
        });
    </script>
</div>
</body>
</html>